<table class="table table-hover table-striped test-data">
    <tbody>
    {{#each rowData key='identifier' as |item|}}

        <tr class={{if (eq item.identifier selected) 'danger' 'x'}}>
            <td class="col-md-1">{{item.identifier}}</td>

            <td class="col-md-4">
                <a {{action onSelect item.identifier}}>{{item.label}}</a>
            </td>

            <td class="col-md-1">

              <a {{action onRemove item.identifier}}>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a></td>

            <td class="col-md-6"></td>
        </tr>

    {{/each}}
    </tbody>
</table>
