<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Glimmer 1.5.1</h1>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6 smallpad">
                    <button type="button" class="btn btn-primary btn-block" id="run" onclick={{action this.run}}>Create 1,000 rows</button>
                </div>
                <div class="col-sm-6 smallpad">
                    <button type="button" class="btn btn-primary btn-block" id="runlots" onclick={{action this.runLots}}>Create 10,000 rows</button>
                </div>
                <div class="col-sm-6 smallpad">
                    <button type="button" class="btn btn-primary btn-block" id="add" onclick={{action this.add}}>Append 1,000 rows</button>
                </div>
                <div class="col-sm-6 smallpad">
                    <button type="button" class="btn btn-primary btn-block" id="update" onclick={{action this.update}}>Update every 10th row</button>
                </div>
                <div class="col-sm-6 smallpad">
                    <button type="button" class="btn btn-primary btn-block" id="clear" onclick={{action this.clear}}>Clear</button>
                </div>
                <div class="col-sm-6 smallpad">
                    <button type="button" class="btn btn-primary btn-block" id="swaprows" onclick={{action this.swapRows}}>Swap Rows</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover table-striped test-data">
    <tbody>
    {{#each this.rows.data key="key" as |row|}}
        <TableRow 
            @select={{action this.select row.id}} 
            @delete={{action this.delete row.id}}
            @className={{if row.isSelected 'danger'}}
            @id={{row.id}}
            @label={{row.label}}
        />
    {{/each}}
    </tbody>
</table>
<span class="preloadicon glyphicon glyphicon-remove" aria-hidden="true"></span>
