
{{#in-element this.fragment}}
  {{#each @items key="id" as |item|}}<tr class={{if item.selected "danger"}}><td class="col-md-1">{{item.id}}</td><td class="col-md-4"><a onclick={{action @onSelect item.id}}>{{item.label}}</a></td><td class="col-md-1"><a onclick={{action @onRemove item.id}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td><td class="col-md-6"></td></tr>{{/each}}
  {{this.appendNode}}
{{/in-element}}


